table {
    width: 50%;
    border-collapse: collapse;
    margin: 50px auto;
    text-align: center;
    font-size: 20px;

}

th {
    background-color: darkgreen;
    color: black;
    padding: 10px;
    font-weight: bold;

}

tr:nth-child(even) {
    background-color: green;
    border: 2px solid white;
}

tr:nth-child(odd) {
    background-color: darkgreen;
    border: 2px solid white;
}

td {
    color: white;
    padding: 10px;
    font-size: 18px;


}