:root{
    --main-bg-color: rgb(231, 231, 231);
    --primary-color: grey;
    --secondary-color: white;
    --terciary-color: rgb(11, 136, 11);
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 280px 1fr;
    overflow-y:scroll ;
    font-family: 'Roboto', 'sans-serif';
    background-color: var(--main-bg-color);
    overflow-x: hidden;
    box-sizing: border-box;
}

aside {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/sidebar-1.jpg);
    background-size: cover;
    height: 100vh;
    width: 280px;
    grid-column: 1/2;
    grid-row: 1/4;
}
.avatar img {
    width: 45px;
    height: 45px;
    border-radius: 45px;
    margin-right: 10px;
}

.side-bar {
    margin: 0 10px 0 10px;
}
.aside-headline{
    height: 50px;
    align-items: center;
    display: flex; 
    color: var(--secondary-color);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 5px;
    justify-content: space-between;
}
.aside-titles {
    height: 50px;
    display: flex;
    color: var(--secondary-color);
    padding-left: 15px;
    align-items: center;
    margin-top: 5px;
    justify-content: space-between;
}
.arrow{
    padding-right: 15px;
}
.wrap{
    display: flex;
    align-items: center;
}
.aside-titles:hover { 
    background-color:rgb(83, 79, 79);
    border-radius: 3px;
}
.the-dashboard{
    padding-left: 20px;
}
.dashboard {
    align-items: center;
    height: 50px;
    display: flex;
    background-color: orangered;
    border-radius: 3px;
    padding-left: 15px;
    color: var(--secondary-color);
   
}

h1 {
    display: flex;
    color: var(--secondary-color);
    justify-content: flex-start;
    font-weight: 200;
    margin-left: 10px;
}
.other-part{
    padding-left: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:30px 30px 0 30px;
    width: 915px;
}
.dashboard-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.more-vert-icon{
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px;
    border-radius: 35px;
    background-color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--primary-color);
    -webkit-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.53);
-moz-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.53);
box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.53);
margin-right: 20px;
}
.more-vert-icon::after{
    content: attr(tooltip);
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(10%);
  background-color: black;
  color:var(--secondary-color);
  padding: 5px 10px;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition:  opacity 0.2s ease-out;
  transition-duration: 2s;
  white-space: nowrap;
}
.more-vert-icon:hover::after{
    opacity: 1;
    visibility: visible;
    transition: opacity 0s ease-in ;
}
.more-vert-icon:hover{
box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.53);
cursor: pointer;
}
.search-icon{
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px;
    background-color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--primary-color);
    -webkit-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.53);
-moz-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.53);
box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.53);
border-radius: 50px;
margin-right: 20px; 
}
.search-icon::after{
  content: attr(tooltip);
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(10%);
  background-color: black;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition:  opacity 0.2s ease-out;
  transition-duration: 2s;
  white-space: nowrap;
}
.search-icon:hover{
box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.53);
cursor: pointer;

}
.search-icon:hover::after{
    opacity: 1;
    visibility: visible;
    transition: opacity 0s ease-in ;
}
.search-bar-input{
    padding-top: 30px;
    outline: none;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    background-color: var(--main-bg-color);
    font-size: 12px;
}
.search-bar{
    display: flex;
    justify-content: space-around;
}

.search-bar-input:focus{
    border-color: purple;
    
}
.icons{
    color: rgb(73, 73, 73);
    padding-left: 30px;
}

.right-icons{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.position{
    position: relative;
    display: inline-block;
}
.position::after{
  content: attr(tooltip);
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-10%);
  background-color: black;
  color: var(--secondary-color);
  padding: 5px 10px;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-out;
  transition-duration: 2s;
  white-space: nowrap;
}
.position:hover::after{
    opacity: 1;
    visibility: visible;
    transition: opacity 0s ease-in ;
}
.hidden-border{
    position: absolute;
    z-index: 10; 
    background-color: var(--secondary-color);
    transform: translateX(-109%);
    top: 0;
    border: 1px;
    border-radius: 2px;
    width: 250px;
    height: 195px;
    display: flex;
    flex-direction: column;
    padding: 4px;
    display: none;
    -webkit-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.53);
-moz-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.53);
box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.53);
}
.option{
    font-size: 15px;
    background-color: var(--secondary-color);
    width: 235px;
    height: 37px;
    display: flex;
    align-items: center;
    margin-top: 2px;
    border-radius: 2px;
    padding-left: 15px;
}
.option:hover{
    background-color: orangered;
    color: var(--secondary-color);
}
.position:focus .hidden-border{
    display: inline-block;
}
button{
    font-size: 10px;
    width: 14px;
    height: 14px;
    border: 1px solid var(--secondary-color);
    border-radius: 14px;
    background-color: red;
    color:var(--secondary-color);
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.square{
    position: relative;
    display: inline-block;
}
.square::after{
  content: attr(tooltip);
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-10%);
  background-color: black;
  color: var(--secondary-color);
  padding: 5px 10px;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out;
  transition-duration: 2s;
  white-space: nowrap;
}
.square:hover::after{
    opacity: 1;
    visibility: visible;
    transition: opacity 0s ease-in ;
}
.person{
    position: relative;
    display: inline-block;
}
.person::after{
  content: attr(tooltip);
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-25%);
  background-color: black;
  color: var(--secondary-color);
  padding: 5px 10px;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out;
  transition-duration: 2s;
  white-space: nowrap;
}
.person:hover::after{
    opacity: 1;
    visibility: visible;
    transition: opacity 0s ease-in ;
}

main{
    margin: 0 30px 0 30px;

}
table{
    border: none;
    border-bottom: 1px solid grey;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}

.language{
    border: 1px;
    width: 70px;
    height:70px ;
    background-color: var(--terciary-color);
    color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 2px;
box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.57);
}

.description{
    border-collapse: collapse;
    border-style: hidden;
    width: 260px;
    height: 240px;
    margin-right: 20px;
}
.columns{
    padding-left: 10px;
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flag{
    width: 20px;
    height: 15px;
    border-radius: 0;
    padding-right: 10px;
}
.global-sales{
    background-color: var(--secondary-color);
    border-radius:4px ;
    position: relative;
    width: 915px;
    height: 350px;
    margin-top: 60px;
}
.text{
    font-size: 23px;
    padding-left: 10px;
    padding-top: 20px;
    font-weight: 300;
}
.locations{
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-top: 90px;
}
.subtitle{
    display: flex;
    align-items: center;
    position: absolute;
    top: -15px;
    left: 20px;
    
}
.bookings{
    padding: 20px;
    height: 100px;
    background-color: var(--secondary-color);
    border-radius: 4px;
    position: relative;
}
.website{
    padding: 20px;
    height: 100px;
    background-color: var(--secondary-color);
    border-radius: 4px;
    position: relative;
}
.revenue{
    padding: 20px;
    height: 100px;
    background-color:  var(--secondary-color);
    border-radius: 4px;
    position: relative;
}
.social-media{
    padding: 20px;
    height: 100px;
    background-color: var(--secondary-color);
    border-radius: 4px;
    position: relative;
}
.statistics{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 80px;
    
}
.weekend{
    position: absolute;
    border: 1px;
    width: 70px;
    height:70px ;
    background-color: rgb(255, 149, 0);
    color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 2px;
    top: -15px;
    left: 20px;
    -webkit-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.57);
box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.57);
}
.first-part{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}
.the-text{
    display: flex;
    flex-direction: column;
}
.equalizer{
    position: absolute;
    border: 1px;
    width: 70px;
    height:70px ;
    background-color: rgb(223, 20, 131);
    color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 2px;
    top: -15px;
    left: 20px;
    -webkit-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.57);
box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.57);
}
.store{
    position: absolute;
    border: 1px;
    width: 70px;
    height:70px ;
    background-color:var(--terciary-color);
    color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 2px;
    top: -15px;
    left: 20px; 
    -webkit-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.57);
box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.57);
}
.public{
    position: absolute;
    border: 1px;
    width: 70px;
    height:70px ;
    background-color: rgb(57, 165, 231);
    color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 2px;
    top: -15px;
    left: 20px; 
    -webkit-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.57);
box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.57);
}
.symbol{
    font-size: 3px;
} .listings{
    display: flex;
    column-gap: 30px;
    width: 920px;
}
.number{
    font-size: 30px;
    padding-top: 10px;
    
}
.headline{
    padding-top: 70px;
    font-size: 25px;
}
.note{
   display: flex;
   align-content: center;
   color: var(--primary-color);
}
.font .material-icons {
    font-size: 13px; 
}
.other-side{
    padding-left: 5px;
    font-size: 13px;
}
.card{
    border-radius: 5px;
    background-color: var(--secondary-color);
    width: 255px;
    height: 370px;
    margin-top: 60px;
    border-radius: 4px;
    padding: 15px;
    padding-bottom: 0;
}
@keyframes Go-up{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-40px);
        
    }
}
.photo-part:hover .photos{
    animation-name: Go-up;    
    animation-duration: 0.5s;
    transform: translateY(-40px); 
}
.photo-part:hover .hidden-icons{
    opacity: 1;
    transition: opacity 0.9s;
}
.photo-part .hidden-icons{
    opacity: 0; 
    transition: opacity 0s ease;
  }
.second-part{
display: flex;
font-size: 17px;
text-align: center;
padding-bottom: 20px;
}
#second-part{
    display: flex;
font-size: 17px;
text-align: center;
padding-bottom: 38px;
}
.photo-part{
    width: 255px;
    height: 170px;
}
.photos img{
    border-radius:5px ;
    width: 255px;
    height: 190px;
    margin-top: -45px;
    animation-name: Go-up;
    transition: transform 0.5s ease; 
    position: relative;
    z-index: 10;
}
.photos{
    transform: translateY(0); 
}
.third-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lorem-text{
    font-size: 15px;
margin-top: -35px;
color: var(--primary-color);
}
.hidden-icons{
    margin-top: -42px;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: -30px;
    position: absolute;
    margin-left: 130px;
    opacity: 0;
    transition: opacity 0.5s ease 0.5s;
    transform: translateX(-50%);
} */

footer{
    margin: 0 30px 0 30px;
    grid-row: 3/4 ;
    width: 915px;
    height: 150px;
}
.the-end{
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}
.alone{
    padding-right: 20px;
    font-weight: bold;
}
.art-track .material-icons{
    color: var(--primary-color);
    padding-right: 5px;
    font-size: 20px;
    position: relative;
    display: inline-block;
}
.art-track:hover{
    cursor: pointer;
}
.art-track::after{
  content: attr(tooltip);
  position: absolute;
  bottom: -120%;
  left: 50%;
  transform: translateX(-80%);
  background-color: black;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0s ease-out;
  transition-duration: 2s;
  white-space: nowrap;
}
.art-track:hover::after{
    opacity: 1;
    visibility: visible;
    transition: opacity 0s ease-in ; 
}
.edit .material-icons{
    color: var(--terciary-color);
    padding-left: 5px;
    font-size: 20px;
    position: relative;
    display: inline-block;
}
.edit:hover{
    cursor: pointer;
}
.edit::after{
  content: attr(tooltip);
  position: absolute;
  bottom: -120%;
  left: 50%;
  transform: translateX(-40%);
  background-color: black;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0s ease-out;
  transition-duration: 2s;
  white-space: nowrap;
}
.edit:hover::after{
    opacity: 1;
    visibility: visible;
    transition: opacity 0s ease-in ; 
}
.clear .material-icons{
    color: red;
    padding-left: 5px;
    font-size: 20px;
    display: inline-block;
    position: relative;
}
.clear:hover{
    cursor: pointer;
}
.clear::after{
  content: attr(tooltip);
  position: absolute;
  bottom: -120%;
  left: 50%;
  transform: translateX(30%);
  background-color: black;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0s ease-out;
  transition-duration: 2s;
  white-space: nowrap;
}
.clear:hover::after{
    opacity: 1;
    visibility: visible;
    transition: opacity 0s ease-in ; 
}
.start{
    color: var(--primary-color);
}
h4{
    color: black;
    font-weight: 400;
    font-size: 20px;
}
@media (max-width: 600px) {
    body {
        grid-template-columns: 280px 1fr;
        background-color: var(--main-bg-color);   
    }
    .locations{
        display: flex;
        flex-direction: column;
        padding: 20px;
        padding-top: 90px;
    }
    .global-sales{
        width: 300px;
        height: 610px;
        margin-top: 60px;
    }
    iframe{
        width: 261px;
        padding-top: 20px;
    }
    .language{
    width: 100px;
    height:70px ;
    }
    .statistics{
      display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 40px;  
    }
    .bookings{
        width: 260px;
    }
    .website{
        width: 260px;
    }
    .revenue{
        width: 260px;
    }
    .social-media{
        width: 260px;
    }
    .listings{
        display: flex;
        row-gap: 30px;
        flex-direction: column;
    }
    .card{
        width: 270px;
        
    }
    .photos{
        padding-left: 7px;
    }
    footer{
        width: 300px;
    }
    .the-end{
        font-size: 11px;
    }
}
@media (max-width: 1024px) {
    body {
        background-color: var(--main-bg-color);  
    }
}
@media (max-width: 640px) {
    body {
        grid-template-columns: 280px 1fr;
        background-color: var(--main-bg-color);
        
    }
}

 

